@font-face
{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    src:url(fonts/Ubuntu-Regular.ttf);
}
body,html
{
    margin: 0px;
    height: 100%;
    overflow: hidden;
}
#sistacontainer
{
    position: relative;
    height: 100%;
}
#sistacontainer #sistamenu
{
    position: relative;
    width: 200px;
    height: calc( 100% - 10px);
    height: -moz-calc( 100% - 10px);
    background-color: #233E78;
    border-right: 1px #091f4e solid;
    float: left;
    color: #ffffff;
    padding-top: 10px;
    font-family: Ubuntu;
}
#sistacontainer #sistamenu #logo
{
    width: 200px;
    height: 113px;
    background-image: url(../img/logo5.png);
    position: relative;
    cursor: pointer;
}
#sistacontainer #sistamenu #m_elementos
{
    margin-top: 15px;
    font-weight: bold;
    position: relative;
}
#sistacontainer #sistamenu a
{
    color:#ffffff;
}
#sistacontainer #sistamenu #m_elementos div.m_elemento
{
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.25s all ease-in;
    -moz-transition: 0.25s all ease-in;
    -webkit-transition: 0.25s all ease-in;
    cursor: pointer;

}
#sistacontainer #sistamenu #m_elementos div.m_elemento:hover
{
    background-color: #2b72a6;
}
#sistacontainer #sistamenu #m_elementos div.m_elemento span
{
    display: inline-block;
    vertical-align: middle;
    width: 130px;

}
#sistacontainer #sistamenu #usuario
{
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}
#sistacontainer #sistamenu #usuario span
{
    vertical-align: middle;
}
#sistacontainer #sistamenu #usuario div
{
    margin-right: 10px;
    cursor: pointer;
}
#sistacontainer #sistamenu #usuario div:hover
{
    background-color: #2b72a6; 
}
#sistacontainer #sistamenu #usuario img
{
    vertical-align: middle;
    margin-right: 15px;
    visibility: hidden;
}
#sistacontainer #sistacontent
{
    position: absolute;
    left: 201px;
    width: calc(100% - 201px);
    width: -moz-calc(100% - 201px);
    height: 100%;
    background-color: #f6f6f6;
}
#sistacontainer #sistacontent #sistaroute
{
    padding-left: 15px;
    font-family: Ubuntu;
    height: 20px;
    /*animation: fadein 2s;
    animation-fill-mode: forwards;*/
}
#sistacontainer #sistacontent #sistadesktop
{
    height: calc(100% - 63px);
    height: -moz-calc(100% - 63px);
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-family: Ubuntu;
}
#sistacontainer #sistacontent #sistadesktop h1,h2,h3
{
    color: #233E78;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*-------------------------BOTONES Y FORMULARIOS------------------------------*/
input,textarea,select
{
    font-family:ubuntu;
    font-size:15px;
    margin-bottom: 5px;
    width: 350px;
}
input[type='checkbox']
{
    width: 150px;
}
select
{width: 356px;}
button
{
    background-color: #233E78;
    color:#FFF;
    font-weight:bold;
    border: 1px solid #091f4e;
    height:50px;
    width:356px;
    transition:ease-in 0.2s;
    text-align: center;
    text-shadow: 2px 2px 2px #091F4E;
}
button:hover
{
    background-color: #2b72a6;
}
button.plus
{
    width: 100%;
}
button.save
{
    background-image: url(../img/icons/appbar.save.png);
    background-repeat: no-repeat;
    background-position: left;
}
button.update
{
    background-image: url(../img/icons/appbar.refresh.png);
    background-repeat: no-repeat;
    background-position: left;
}
button.del
{
    background-image: url(../img/icons/appbar.delete.png);
    background-repeat: no-repeat;
    background-position: left;  
}
#sistacontainer #sistacontent #sistadesktop .opciones
{
    display:table;
    margin-left:auto;
    margin-right:auto;
    border-spacing:10px;
}
#sistacontainer #sistacontent #sistadesktop .opciones div
{
    display: table-row;
}
#sistacontainer #sistacontent #sistadesktop .opciones div .opcion
{
    display:table-cell;
    background:#233E78;
    background-repeat:no-repeat;
    background-position:center;
    color:#FFF;
    font-weight:bold;
    border:1px solid #091f4e;
    padding:2px;
    width:86px;
    height:86px;
    text-align:center;
    cursor:pointer;
    transition:ease-in 0.2s;
}
#sistacontainer #sistacontent #sistadesktop .opciones div .opcion:hover
{
    background:#2b72a6;
    background-repeat:no-repeat;
    background-position:center;
    box-shadow:0px 0px 0px 3px #091f4e;
}
#sistacontainer #sistacontent #sistadesktop .opciones div .opcion.correo
{
    background-image:url(../img/icons/appbar.at.png);
}
#sistacontainer #sistacontent #sistadesktop .opciones div .opcion.pass
{
    background-image:url(../img/icons/appbar.lock.png);
}
#sistacontainer #sistacontent #sistadesktop .opciones div .opcion.empleados
{
    background-image:url(../img/icons/appbar.group.png);
}
#sistacontainer #sistacontent #sistadesktop .opciones div .opcion.carreras
{
    background-image:url(../img/icons/appbar.man.suitcase.run.png);
}
#sistacontainer #sistacontent #sistadesktop .opciones div .opcion.asignaturas
{
    background-image:url(../img/icons/appbar.book.hardcover.open.png);
}
#sistacontainer #sistacontent #sistadesktop .opciones div .opcion.cargos
{
    background-image:url(../img/icons/appbar.suitcase.png);
}
#sistacontainer #sistacontent #sistadesktop .opciones div .opcion.cuentas
{
    background-image:url(../img/icons/appbar.currency.dollar.png);
}
#sistacontainer #sistacontent #sistadesktop .opciones div .opcion.facultades
{
    background-image:url(../img/icons/appbar.scale.png);
}
/*----------------------------TABLAS------------------------------------------*/
#sistacontainer #sistacontent #sistadesktop table
{
    width: 100%;
}
#sistacontainer #sistacontent #sistadesktop table tr
{
    transition: ease 0.2s;
}
#sistacontainer #sistacontent #sistadesktop table tr th
{
    color: #FFF;
    background: #006A9D;
}
#sistacontainer #sistacontent #sistadesktop table tr td
{
    border: 1px #006A9D solid;
    padding: 3px;
}
#sistacontainer #sistacontent #sistadesktop table tr:hover
{
    background-color: #BFEBFF;
}
/*------------------------------Vinculos------------------------------------------*/
a.vTramite
{
    text-decoration: none;
    color: #000;
}
/*----------------------------------GUI DE SEGUIMIENTO----------------------------*/
.SeguimientoGrid{
    width: 100%;
}
.SeguimientoGrid > div{
    position: relative;
    width:155px;
    height:155px;
    display: inline-block;
    box-shadow: 1px 1px 2px 1px #091f4e;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 15px;
}
.SeguimientoGrid > div:hover{
    box-shadow: 1px 1px 2px 2px #091f4e;  
}
.SeguimientoGrid div span{
    width: 100%;
    display: block;
    padding-left: 2px;
    padding-right: 2px;
}
.SeguimientoGrid div span:first-child{
    font-weight: bold;
    position: absolute;
}
.SeguimientoGrid div.noiniciado{
    background-color: #808080;
}
.SeguimientoGrid div.enproceso{
    background-color: #ce7607;
}
.SeguimientoGrid div.finalizado{
    background-color: #0c9648;
}
.SeguimientoGrid div div{
    width: 58px;
    height: 58px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
div.segDocumento{
    background: url(../img/icons/appbar.page.text.png) center;
}
div.segMandamiento{
    background: url(../img/icons/appbar.printer.text.png) center;
}
div.segFormulario{
    background: url(../img/icons/appbar.checkmark.pencil.top.png) center;
}
div.segActividad{
    background: url(../img/icons/appbar.user.tie.png) center;
}
/*---------------------------------------BOTONES/DIV------------------------------*/
#sistacontainer #sistacontent #sistadesktop div.btnNuevo
{
    width: 50px;
    height: 50px;
    background: url(../img/icons/appbar.section.expand.png) #233E78 no-repeat center;
    border: 1px solid #091f4e;
    display: inline-block;
}
#sistacontainer #sistacontent #sistadesktop div.btnNuevo:hover
{
    background-color: #2b72a6;
}
/*----------------------------ALERTAS------------------------------------------------*/
#sistacontainer #sistacontent #sistamensajes
{
    height: 28px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Ubuntu;
    visibility: hidden;
    transition: 0.5s all ease-in;
    -moz-transition: 0.5s all ease-in;
    -webkit-transition: 0.5s all;
    opacity: 0;
    text-align: center;
}
#sistacontainer #sistacontent #sistamensajes.mnsgInfo
{
    background: #BFEBFF;
    border: 1px solid #006A9D;
    color: #006A9D;
    visibility: visible;
    opacity: 100;
}
#sistacontainer #sistacontent #sistamensajes.mnsgOk
{
    background: #95FF95;
    border: 1px solid #060;
    color: #060;
    visibility: visible;
    opacity: 100;
}
#sistacontainer #sistacontent #sistamensajes.mnsgError
{
    background: #FF7575;
    border: 1px solid #900;
    color: #900;
    visibility: visible;
    opacity: 100;
}
#sistacontainer #sistacontent #sistamensajes.mnsgAlert
{
    background: #edebc3;
    border: 1px solid #ce7607;
    color: #ce7607;
    visibility: visible;
    opacity: 100;

}
div.error-message
{
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 10px;
    background: #FF7575;
    border: 1px solid #900;
    color: #900;
    width: 250px;
    padding-left: 2px;
}

/*---------------------------------ICONOS---------------------------------------*/
div.ico
{
    width: 50px;
    height: 50px;
    display:inline-block;
    vertical-align:middle;
}
div.ico.mini
{
    width:30px;
    height:30px;
    display:inline-block;
    vertical-align:middle;
    transition:ease-in 0.25s;
    background-size:40px 40px;
}
div.ico.medium
{
    width:30px;
    height:30px;
    vertical-align:middle;
    background-size:50px 50px;   
}
div.icoAlert
{
    background: url(../img/icons/appbar.alert-orange.png) center;
}
div.icoCog
{
    background:url(../img/icons/appbar.cog.png) center;
}
div.icoInfo
{
    background:url(../img/icons/appbar.information.circle.png) center;
}
div.icoInfoBlue
{
    background:url(../img/icons/appbar.information-blue.png) center;
}
div.icoInbox
{
    background: url(../img/icons/appbar.inbox.png) center;
}
div.icoTramite
{
    background: url(../img/icons/appbar.book.list.png) center;
}
div.icoLogout
{
    background: url(../img/icons/appbar.power.png) center;
}
div.icoOK
{
    background: url(../img/icons/appbar.ok-green.png) center;
}
div.icoError
{
    background: url(../img/icons/appbar.error-red.png) center;
}
div.icoCat
{
    background: url(../img/icons/appbar.cabinet.files.png) center;
}
div.icoUser
{
    background: url(../img/icons/appbar.user.png) center;
}
div.icoUserStat
{
    background: url(../img/icons/appbar.people.checkbox.blue.png) center;
}
div.icoUserPass
{
    background: url(../img/icons/appbar.image.night.person.blue.png) center;
}
div.icoUpdate
{
    background: url(../img/icons/appbar.refresh.blue.png) center;
}
div.icoDel
{
    background: url(../img/icons/appbar.delete.blue.png) center;
}
div.icoView
{
    background: url(../img/icons/appbar.eye.png) center;
}
div.icoMediaCenter
{
    background: url(../img/icons/appbar.monitor.play.png) center;
}
div.iconRecibir
{
    background: url(../img/icons/appbar.new.window.png) center; 
}
/*----------------------------------MEDIA_CENTER-------------------------------------------*/
#mediacenter
{
    width: 100%;
    display: table;
}
#mediacenter div
{
    display: table-cell;
    vertical-align: middle;
    transition: 0.4s all;
}
#mediacenter div:first-child
{
    width: 25%;
}
#mediacenter div li{
    transition: 0.4s all;
}
#mediacenter div li:hover
{
    background-color: #BFEBFF;
}
#mediacenter div video
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*---------------------------------ANIMACIONES---------------------------------------*/
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity:100;
    }
}
.imgcenter{
    margin-left: auto;
    margin-right: auto;
    display: block;
}